@(instruction: models.instruction.Instruction)

@mainadmin {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin/instruction/edit.js")"></script>

    <form id="instructionForm" method="put" class="form-horizontal" action="@controllers.admin.routes.InstructionController.update(instruction.id.get)"
    data-bv-message="This value is not valid"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <div class="form-group">
            <label class="col-lg-3 control-label">Read:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="read" name="read"
                data-bv-message="The read is not valid"
                required
                data-bv-notempty-message="The read is required and cannot be empty"
                pattern=".{3,}"
                data-bv-regexp-message="The read can only consist of at least 3 characters"
                value="@instruction.read" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Speak:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="speak" name="speak"
                data-bv-message="The speak is not valid"
                required
                data-bv-notempty-message="The speak is required and cannot be empty"
                pattern=".{3,}"
                data-bv-regexp-message="The speak can only consist of at least 3 characters"
                value="@instruction.speak" />
            </div>
        </div>

        <div id="dialog" title="Alert">
            <p></p>
        </div>

        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
                <button id="save" type="submit" class="btn btn-default">Update</button>
            </div>
        </div>

    </form>
}