@mainadmin {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin/instruction/list.js")"></script>

    <table id="instructions" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Read</th>
                <th>Speak</th>
                <th>Created on</th>
                <th>Updated on</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>


    <div id="dialog-confirm" title="Delete instruction?">
        <p>

        </p>
    </div>
}