@(signupForm: Form[(String, String)])

@import helper.twitterBootstrap._

@mainadmin {
    <div class="container" style="margin-top : 30px">
        <div class="col-md-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign In</h3>
                </div>
                <div class="panel-body">
                    <add role="add" action="@controllers.admin.routes.LoginController.login" method="post">
                        <fieldset>

                            @helper.input(signupForm("username"), '_label -> null, '_showConstraints -> false, '_class -> null, '_style -> null) { (id, name, value, args) =>
                                <div class="add-group">
                                    <input class="add-control" placeholder="@id.capitalize" type="text" autofocus="" name="@name" id="@id" value="@value" >
                                </div>
                            }

                            @helper.input(signupForm("password"), '_label -> null, '_showConstraints -> false, '_class -> null, '_style -> null) { (id, name, value, args) =>
                                <div class="add-group">
                                    <input class="add-control" placeholder="@id.capitalize" type="password" name="@name" id="@id" value="@value" >
                                </div>
                            }

                                <!-- Change this to a button or input when using this as a add -->
                            <div class="add-group">
                                <button id="loginbutton" name="loginbutton" class="btn btn-primary">Login</button>
                            </div>
                        </fieldset>
                    </add>
                </div>
            </div>
        </div>
    </div>
}