@mainadmin {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin/device/add.js")"></script>

    <form id="deviceForm" method="post" class="form-horizontal" action="@controllers.admin.routes.DeviceController.save"
    data-bv-message="This value is not valid"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <div class="form-group">
            <label class="col-lg-3 control-label">Code:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="code" name="code"
                data-bv-message="The code is not valid"
                required
                data-bv-notempty-message="The code is required and cannot be empty"
                pattern=".{5,}"
                data-bv-regexp-message="The code can only consist of at least 5 characters"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Android ID:</label>
            <div class="col-lg-5">
                <textarea cols="50" rows="5" class="form-control" id="androidId" name="androidId"
                required
                data-bv-message="The Android ID is not valid"
                data-bv-notempty-message="The Android ID is required and cannot be empty"
                pattern=".{183,}"
                data-bv-regexp-message="The Android ID can only consist of at least 183 characters"
                ></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Description:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="description" name="description"
                data-bv-message="The Description is not valid"
                required
                data-bv-notempty-message="The Description is required and cannot be empty"
                pattern=".{5,}"
                data-bv-regexp-message="The Description can only consist of at least 5 characters"
                />
            </div>
        </div>

        <div id="dialog" title="Alert">
            <p></p>
        </div>

        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
                <button id="save" type="submit" class="btn btn-default">Save</button>
            </div>
        </div>

    </form>
}