@mainadmin {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin/device/list.js")"></script>

    <table id="devices" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Created on</th>
                <th>Updated on</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>


    <div id="dialog-confirm" title="Delete device?">
        <p>

        </p>
    </div>
}