@(cocktail: models.booze.Booze)

@mainadmin {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin/booze/edit.js")"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>

    <style type="text/css">
    #cocktailForm .selectContainer .form-control-feedback {
        right: -15px;
    }
    </style>

    <form id="cocktailForm" method="put" class="form-horizontal" action="@controllers.admin.routes.BoozeController.update(cocktail.id.get)"
    data-bv-message="This value is not valid"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

        <div class="form-group">
            <label class="col-lg-3 control-label">Cup:</label>
            <div class="col-lg-5 selectContainer">
                <select id="cups" name="cups" class="form-control combobox" required data-bv-message="Choose a Cup" >
                    <option value="">--Choose a Cup--</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Device Code:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="devcode" name="devcode"
                data-bv-message="The device code is not valid"
                required
                data-bv-notempty-message="The device code is required and cannot be empty"
                pattern=".{1,}"
                data-bv-regexp-message="The device code can only consist of at least 1 character"
                value="@cocktail.deviceCode"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="name" name="name"
                data-bv-message="The name is not valid"
                required
                data-bv-notempty-message="The name code is required and cannot be empty"
                pattern=".{3,}"
                data-bv-regexp-message="The name code can only consist of at least 1 character"
                value="@cocktail.name"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Color:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="color" name="color"
                data-bv-message="The color is not valid"
                required
                data-bv-notempty-message="The color code is required and cannot be empty"
                pattern=".{3,}"
                data-bv-regexp-message="The color code can only consist of at least 3 character"
                value="@cocktail.color"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">RGB:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="rgb" name="rgb"
                data-bv-message="The rgb is not valid"
                required
                data-bv-notempty-message="The rgb is required and cannot be empty"
                pattern=".{3,}"
                data-bv-regexp-message="The rgb can only consist of at least 3 character"
                value="@cocktail.rgb"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">PDV Code:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="pdvcode" name="pdvcode"
                data-bv-message="The PDV Code is not valid"
                required
                data-bv-notempty-message="The PDV Code is required and cannot be empty"
                pattern=".{1,}"
                data-bv-regexp-message="The PDV Code can only consist of at least 1 character"
                value="@cocktail.pdvCode"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Author:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="author" name="author"
                data-bv-message="The author is not valid"
                required
                data-bv-notempty-message="The author is required and cannot be empty"
                pattern=".{3,}"
                data-bv-regexp-message="The author can only consist of at least 3 characters"
                value="@cocktail.author"
                />
            </div>
        </div>


        <div id="dialog" title="Alert">
            <p></p>
        </div>

        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
                <button id="save" type="submit" class="btn btn-default">Update</button>
            </div>
        </div>

        <input id="cupId" type="hidden" value="@cocktail.cupId" />

    </form>
}