@mainadmin {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin/booze/list.js")"></script>

    <table id="cocktails" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Cocktail</th>
                <th>Author</th>
                <th>Image</th>
                <th>Created on</th>
                <th>Updated on</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>


    <div id="dialog-confirm" title="Delete Cocktail?">
        <p>

        </p>
    </div>
}