<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@controllers.admin.routes.GlassController.listPage()" class="navbar-brand">Boozebox</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Glass <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@controllers.admin.routes.GlassController.form">New</a></li>
                        <li><a href="@controllers.admin.routes.GlassController.listPage()">List</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Type <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@controllers.admin.routes.DrinkTypeController.form">New</a></li>
                        <li><a href="@controllers.admin.routes.DrinkTypeController.listPage()">List</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ingredient <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@controllers.admin.routes.IngredientController.form">New</a></li>
                        <li><a href="@controllers.admin.routes.IngredientController.listPage()">List</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cocktail <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@controllers.admin.routes.BoozeController.form">New</a></li>
                        <li><a href="@controllers.admin.routes.BoozeController.listPage()">List</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instruction <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@controllers.admin.routes.InstructionController.form">New</a></li>
                        <li><a href="@controllers.admin.routes.InstructionController.listPage()">List</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">CockType <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@controllers.admin.routes.CockTypeController.form">New</a></li>
                        <li><a href="@controllers.admin.routes.CockTypeController.listPage()">List</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Device <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@controllers.admin.routes.DeviceController.form">New</a></li>
                        <li><a href="@controllers.admin.routes.DeviceController.listPage()">List</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>