@(ingredient: models.ingredient.Ingredient)
@mainadmin {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin/ingredient/edit.js")"></script>

    <form id="ingredientForm" method="put" class="form-horizontal" action="@controllers.admin.routes.IngredientController.update(ingredient.id.get)"
    data-bv-message="This value is not valid"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <input id="ingredientId" type="hidden" value="@ingredient.id" />
        <div class="form-group">
            <label class="col-lg-3 control-label">Ingredient:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="ingredient" name="ingredient"
                data-bv-message="The ingredient is not valid"
                required
                data-bv-notempty-message="The ingredient is required and cannot be empty"
                pattern=".{3,}"
                data-bv-regexp-message="The ingredient consist of at least 3 characters"
                value="@ingredient.ingredient" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Density:</label>
            <div class="col-lg-5">
                <input type="number" class="form-control" id="density" name="density"
                data-bv-message="The density is not valid"
                required
                data-bv-notempty-message="The density is required and cannot be empty"
                data-bv-regexp-message="The density consist of at least 3 characters"
                value="@ingredient.density" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label"></label>
            <div class="col-lg-5">
                <div id="image">Image</div>
            </div>
        </div>

        <div id="dialog" title="Alert">
            <p></p>
        </div>

        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
                <button id="save" type="submit" class="btn btn-default">Update</button>
            </div>
        </div>

    </form>
}