xxxx@mainadmin {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin/ingredient/list.js")"></script>

    <table id="ingredients" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Description</th>
                <th>Density</th>
                <th>Created on</th>
                <th>Updated on</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>


    <div id="dialog-confirm" title="Delete ingredient?">
        <p>

        </p>
    </div>
}