
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.hidden {
    display: none;
}

body {
    font: 400 12px/1.625 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background: #000000;
    background-image: linear-gradient(left, #000000 0%, #000000 52%, #000000 100%);
    background-image: -moz-linear-gradient(left, #000000 0%, #000000 52%, #000000 100%);
    background-image: -webkit-linear-gradient(left, #000000 0%, #000000 52%, #000000 100%);
}

.wrapper {
    min-width: 320px;
    max-width: 1260px;
    width: 95%;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
}

#main #submit-button input[type="text"],
#main #submit-button button[type="button"],
#main #submit-button button[type="submit"] {
    font: 400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main {
    text-shadow: 0 1px 0 #FFF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #F9F9F9;
    padding: 25px;
}

#main h3 {
    color: #000000;
    display: block;
    font-size: 28px;
    text-align: center;
}

#main h2 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    text-align: center;
}

#main label span {
    cursor: pointer;
    color: #000000;
    display: block;
    margin: 5px 0;
    font-weight: 900;
}

#main input[type="text"],
#main button[type="submit"],
#main textarea {
    width: 100%;
    box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -moz-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 5px;
}

#main input[type="text"]:hover,
#main button[type="submit"],
#main textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#main textarea {
    height: 100px;
    max-width: 100%;
}

#div-btn button[type="button"],
#div-btn button[type="submit"] {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    background: dodgerblue;
    background-image: linear-gradient(bottom, dodgerblue 0%, dodgerblue 52%);
    background-image: -moz-linear-gradient(bottom, dodgerblue 0%, dodgerblue 52%);
    background-image: -webkit-linear-gradient(bottom, dodgerblue 0%, dodgerblue 52%);
    color: #ffffff;
    margin: 0 0 5px;
    border-radius: 50%;
}

#div-btn button[type="button"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#back-btn button[type="button"],
#back-btn button[type="submit"] {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    background: dodgerblue;
    background-image: linear-gradient(bottom, dodgerblue 0%, dodgerblue 52%);
    background-image: -moz-linear-gradient(bottom, dodgerblue 0%, dodgerblue 52%);
    background-image: -webkit-linear-gradient(bottom, dodgerblue 0%, dodgerblue 52%);
    color: #ffffff;
    margin: 0 0 5px;
    border-radius: 50%;
    text-align: center;
}

#back-btn button[type="button"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#main input:focus,
#main textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

#footer {
    text-align: center;
    color: #ffffff;
}

.dd-option-text, .dd-selected-text {
    font-size: x-large;
}

.dd-desc, .dd-selected-description, .dd-selected-description-truncated {
    font-size: medium;
}

.dd-option-image, .dd-selected-image {
    vertical-align: middle;
    float: left;
    margin-right: 5px;
    max-width: 64px;
    max-height: 85px;
}

.dd-options {
    width: 100%;
}

@media screen and (max-width: 480px) {
    #logo {
        width: 209px;
        height: 58.5px;
        position: relative;
        left: 50%;
        margin-top: 0px;
        margin-left: -104.5px;
    }

    .dd-option-text, .dd-selected-text {
        font-size: large;
    }

    .dd-desc, .dd-selected-description, .dd-selected-description-truncated {
        font-size: medium;
    }
}

@media screen and (min-width: 480px) {
    #logo {
        width: 418px;
        height: 107px;
        position: relative;
        left: 50%;
        margin-top: 0px;
        margin-left: -209px;
    }
}

.divCentralizada {
    position: relative;
    left: 50%;
    margin-left: -25px;
    top: 90%;
}

#idContainer {
    width: 99%;
}

