@(message: String)

@main(title = "Pedido") {

    <form id="orderForm" action="@routes.OrderController.form" method="GET">
        <h2>@message</h2>

        <br/>
        <div id="back-btn" class="divCentralizada">
            <button name="submit-button" type="submit" id="submit-button" >Voltar</button>
        </div>
    </form>
}