@main(title = "Boozebox") {

    <form id="orderForm" method="post" action="@routes.OrderController.submit">

        <br>

        <div id="idContainer" class="container"></div>

        <!--div id="fb-btn-div" ></div-->

        <!--span><b>@Messages("msg.fb.not.post")</b></span-->
        <div>
            <label>
                <span>@Messages("order.form.name")*:</span>
            </label>
            <input placeholder="@Messages("order.form.nome.placeholder")" type="text" tabindex="1" required autofocus name="name" id="name" value="">
        </div>

        <div>
            <label>
                <span>@Messages("order.form.voucher")*:</span>
            </label>
            <input placeholder="@Messages("order.form.voucher.placeholder")" type="text" tabindex="2" required name="voucher" id="voucher" >
        </div>

        <div>
            <label>
                <span>@Messages("order.form.cocktail")*:</span>
            </label>
            <div id="boozes"></div>
        </div>
        <br>

        <div id="div-btn" class="divCentralizada"></div>
    </form>
}
