@(drinkType: models.drinktype.Type)

@mainadmin {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin/drinktype/edit.js")"></script>

    <form id="drinkTypeForm" method="put" class="form-horizontal" action="@controllers.admin.routes.DrinkTypeController.update(drinkType.id.get)"
    data-bv-message="This value is not valid"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <div class="form-group">
            <label class="col-lg-3 control-label">Description:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="description" name="description"
                data-bv-message="The description is not valid"
                required
                data-bv-notempty-message="The description is required and cannot be empty"
                pattern=".{3,}"
                data-bv-regexp-message="The description consist of at least 3 characters"
                value="@drinkType.description" />
            </div>
        </div>

        <div id="dialog" title="Alert">
            <p></p>
        </div>

        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
                <button id="save" type="submit" class="btn btn-default">Update</button>
            </div>
        </div>

    </form>
}