@mainadmin {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin/drinktype/list.js")"></script>

    <table id="types" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Description</th>
                <th>Created on</th>
                <th>Updated on</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>

    <div id="dialog-confirm" title="Delete Drink Type?">
        <p></p>
    </div>
}