@(cup: models.cup.Glass)

@mainadmin {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin/glass/edit.js")"></script>

    <form id="cupForm" method="put" class="form-horizontal" action="@controllers.admin.routes.GlassController.update(cup.id.get)"
    data-bv-message="This value is not valid"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <div class="form-group">
            <label class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="name" name="name"
                data-bv-message="The name is not valid"
                required
                data-bv-notempty-message="The name is required and cannot be empty"
                pattern=".{3,}"
                data-bv-regexp-message="The name can only consist of at least 3 characters"
                value="@cup.name" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Size:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="size" name="size"
                data-bv-message="The size is not valid"
                required
                data-bv-notempty-message="The size is required and cannot be empty"
                pattern=".{3,}"
                data-bv-regexp-message="The size can only consist of at least 3 characters"
                value="@cup.size" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label"></label>
            <div class="col-lg-5">
                <div id="image">Image</div>
            </div>
        </div>

        <div id="dialog" title="Alert">
            <p></p>
        </div>

        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
                <button id="save" type="submit" class="btn btn-default">Update</button>
            </div>
        </div>

    </form>
}