@mainadmin {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin/glass/list.js")"></script>

    <table id="cups" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>


    <div id="dialog-confirm" title="Delete cup?">
        <p></p>
    </div>
}