@(cocktype: models.cocktype.BoozeType)

@mainadmin {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin/cocktype/edit.js")"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>

    <style type="text/css">
    #cocktypeForm .selectContainer .form-control-feedback {
        right: -15px;
    }
    </style>

    <form id="cocktypeForm" method="put" class="form-horizontal" action="@controllers.admin.routes.CockTypeController.update(cocktype.id.get)"
    data-bv-message="This value is not valid"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

        <div class="form-group">
            <label class="col-lg-3 control-label">Cocktail:</label>
            <div class="col-lg-5 selectContainer">
                <select id="cocktails" name="cocktail" class="form-control combobox" required data-bv-message="Choose a cocktail" >
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Type:</label>
            <div class="col-lg-5 selectContainer">
                <select id="types" name="type" class="form-control combobox" required data-bv-message="Choose a type">
                </select>
            </div>
        </div>

        <div id="dialog" title="Alert">
            <p></p>
        </div>

        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
                <button id="save" type="submit" class="btn btn-default">Update</button>
            </div>
        </div>

        <input id="cocktailId" type="hidden" value="@cocktype.cocktailId" />
        <input id="typeId" type="hidden" value="@cocktype.typeId" />


    </form>
}